@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  /* Colors */
  --primary: #072ac8;
  --secondary: #ffc600;
  --accent: #43d2ff;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f4f6fc;
  --neutral-light-blue: #ecf7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Outline */
  /* outline: 1px solid #0000ff; */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--neutral-dark);
  width: 90%;
  margin: auto;
  background-color: #f2f4fc;
}

h1 {
  font-size: 3.75rem;
  font-weight: 500;
}

h2 {
  font-size: 3.1rem;
  font-weight: 500;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 1.25rem;
  font-weight: 400;
}

.learn-more {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;

}
/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

header {
  display: flex;
  flex-direction: column;
}
#logo-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

#logo-navbar nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: var(--neutral-medium);
  font-weight: 500;
}

#hero-section-header {
  display: flex;
  /* flex-wrap: nowrap; */
}

#hero-section-header h1 {
  margin: 30px 0px;
}

#container-text-hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-section-header div > p {
  color: var(--neutral-medium);
  line-height: 1.8rem;
}

#hero-section-header-btns {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 35px 0;
}

/* Imagen con las tarjetas */
#container-img-hero {
  background-image: url("/resources/images/hero-section/hero-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40vw;
  position: relative;
  width: 50vw;
  height: 50vw;
}

#card1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 20vw;
}

#card2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 20vw;
}

/* Botones */
.btn-blue {
  background-color: var(--primary);
  color: #ffffff;
  padding: 13px 22px;
  font-size: 1rem;
}

/* ------------------------------ Partners ------------------------------ */

#partners {
  display: flex;
  justify-content: space-around;
  margin: 115px 0;
}

/* ------------------------------ Recent projects ------------------------------ */

#recent-projects article img {
  width: 100%;
  height: 200px;
}

#recent-projects article {
  width: 30%;
  background-color: white;
  margin-bottom: 150px;
  height: 400px;
}

#recent-projects article div {
  padding: 1.5rem;
}

#recent-projects {
  display: flex;
  flex-direction: column;
}

#articles-projects {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

#recent-projects > h3 {
  margin: 70px 0;
}

#recent-projects h4 {
  margin-bottom: 16px;
}

#recent-projects p {
  margin-bottom: 8px;
}


/* ------------------------------ Client reviews ------------------------------ */

#container-reviews {
  background-color: var(--neutral-dark);
  background-image: url(/resources/images/testimonial-section/orbit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
  height: 650px;
}

.emoji {
  position: absolute;
}
.emoji img {
  width: 50%;
}
.top-left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.top-right {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  display: flex;
  justify-content: end;
}

.bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
}
.bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  display: flex;
  justify-content: end;
}

#container-reviews-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-align: center;
}
#container-reviews-text > h3 {
  color: white;
  align-items: center;
  justify-content: center;
}
#container-reviews-text > p {
  color: var(--secondary);
}

#client {
  display: flex;
  justify-content: center;
}

#client-image img {
  width: 50px%;
  height: 50px;
  border-radius: 50%;
}
#client-info p {
  color: white;
  margin-left: 1rem;
}

/* ------------------------------ Services ------------------------------ */

#services {
  /* max-width: 1200px; */
  width: 90%;
  height: 600px;
 margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;  
}

#contain-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
 
  height: 100%;
  align-items: stretch;

}

#contain-services article {
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    background-color: white;
    width: 300px;
    margin: 100px 0;
    /* border: #072ac8 solid 2px; */
}

#contain-services article h5 {
  font-weight: 500; 

}

.icon1, .icon2, .icon3 {
  border-radius: 50%;
  background-color: #ecf7ff;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon1 {
  background-image: url(/resources/images/services-section/icons/1.svg);  
}

.icon2 {
  background-image: url(/resources/images/services-section/icons/2.svg);  
}

.icon3 {
  background-image: url(/resources/images/services-section/icons/3.svg);  
}

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
