@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  /* Colors */
  --primary: #072ac8;
  --secondary: #ffc600;
  --accent: #43d2ff;
  --primary-hover: #a2d6f9;
  --primary-tapped: #d1edff;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f4f6fc;
  --neutral-light-blue: #ecf7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Outline */
  /* outline: 1px solid #0000ff; */
}
html {
  scroll-behavior:smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--neutral-dark);
  /* width: 80%; */
  margin: auto;
  background-color: #f2f4fc;
}

h1 {
  font-size: 3.75rem;
  font-weight: bold;
}

h2 {
  font-size: 3.1rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  font-size: 1.25rem;
  font-weight: 400;
}

.learn-more {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
}
.learn-more a {
  color: var(--primary);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}
/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 80%;
  margin: auto;
}
#logo-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

#logo-navbar nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  color: var(--neutral-medium);
  font-weight: 500;
}

#hero-section-header {
  display: flex;
  /* flex-wrap: nowrap; */
}

#hero-section-header h1 {
  margin: 30px 0px;
}

#container-text-hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#hero-section-header div > p {
  color: var(--neutral-medium);
  line-height: 1.8rem;
}

#hero-section-header-btns {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 35px 0;
}

/* Imagen con las tarjetas */
#container-img-hero {
  background-image: url("/resources/images/hero-section/hero-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  width: 50vw;
  height: 50vw;
  z-index: -1;
}

#card1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 20vw;
  height: 20vw;
}

#card2 {
  position: absolute;
  bottom: -10%;
  right: -20%;
  width: 20vw;
  height: 20vw;
}

header nav a {
  font-size: 1.2rem;
  color: #6b708d;
}

header nav a:hover {
  color: var(--primary);
}

/* Botones */
.btn-blue {
  background-color: var(--primary);
  color: #ffffff;
  padding: 13px 22px;
  font-size: 1rem;
}
.btn-blue a {
  color: white;
}

/* ------------------------------ Partners ------------------------------ */

#partners {
  display:none;
  margin-top: 100px;
  width: 80%;
  margin: 100px auto 0 auto;
}
/* slider */
.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-top: 64px;
}

@keyframes scroll {
  0% { transform: translateX(0) ; }
  
  100% { transform: translateX(calc(-200px * 15)); }
}


.slider .slide-track {
  display: flex;
  animation: scroll 35s linear infinite;
  width: calc(200px * 30);
  -webkit-animation: scroll 40s linear infinite;

}


.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
  padding: 0 30px;
}






/* ------------------------------ Recent projects ------------------------------ */

#recent-projects {
  width: 70%;
  min-height: 600px;
  margin: auto;
  margin-top: 100px;
}

#recent-projects article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#recent-projects article {
  width: 300px;
  background-color: white;
  margin-bottom: 50px;
  /* height: 100%; */
}

#recent-projects article div {
  padding: 1.5rem;
}

#articles-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
  max-width: 100%;
}

#recent-projects > h3 {
  margin: 64px 0;
}

#recent-projects h4 {
  margin-bottom: 16px;
}

#recent-projects p {
  margin-bottom: 8px;
  margin-bottom: 26px;
}

/* ------------------------------ Client reviews ------------------------------ */

#container-reviews {
  background-color: var(--neutral-dark);
  background-image: url(/resources/images/testimonial-section/orbit.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
  height: 650px;
  /* width: 80%; */
  margin: auto;
  margin-top: 40px;
}

.emoji {
  position: absolute;
}
.emoji img {
  width: 50%;
}
.top-left {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.top-right {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  display: flex;
  justify-content: end;
}

.bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
}
.bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  display: flex;
  justify-content: end;
}

#container-reviews-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-align: center;
}
#container-reviews-text > h3 {
  color: white;
  align-items: center;
  justify-content: center;
}
#container-reviews-text > p {
  color: var(--secondary);
}

#client {
  display: flex;
  justify-content: center;
}

#client-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#client-info p {
  color: white;
  margin-left: 1rem;
}

/* ------------------------------ Services ------------------------------ */

#services {
  width: 70%;
  min-height: 600px;
  margin: auto;
  margin-top: 100px;
  /* margin-bottom: 100px; */
}

#services h3 {
  margin-bottom: 64px;
}

#contain-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  align-items: stretch;
}

#contain-services article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  background-color: white;
  width: 300px;
  margin: 16px 0;
  /* border: #072ac8 solid 2px; */
}

#contain-services article h5 {
  font-weight: 500;
  margin-bottom: 16px;
}

#contain-services article p:first-of-type {
  margin-bottom: 32px;
}

.icon1,
.icon2,
.icon3 {
  border-radius: 50%;
  background-color: #ecf7ff;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 16px;
}

.icon1 {
  background-image: url(/resources/images/services-section/icons/1.svg);
}

.icon2 {
  background-image: url(/resources/images/services-section/icons/2.svg);
}

.icon3 {
  background-image: url(/resources/images/services-section/icons/3.svg);
}

/* ------------------------------ Questions form ------------------------------ */

#questions-form {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  /* width: 80%; */
  margin: auto;
  margin-top: 64px;
}

#questions-form h3,
form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#questions-form input {
  border: none;
  padding: 16px 24px;
  margin-right: 16px;
}

#btn-sub {
  padding: 50px;
}

#container-email-sub {
  position: relative;
}

#container-email-sub input:nth-of-type(1) {
  padding: 18px 0px 18px 55px;
  margin-bottom: 12px;
}
#icon-email {
  position: absolute;
  height: 30px;
  width: 35px;
  background-image: url(/resources/images/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  margin-top: 11px;
}

/* ------------------------------ Footer ------------------------------ */

footer {
  display: flex;
  padding: 3rem 4rem;
  justify-content: space-around;
}

footer > div {
  align-self: center;
}

footer > div img {
  margin-bottom: 16px;
}
footer > nav {
  padding: 3rem;
}

footer > nav ul {
  list-style: none;

  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

footer > nav ul li a {
  color: #072ac8;
  font-weight: 500;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

main {
  width: 80%;
  margin: auto;
}

main img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin: 64px 0;
}

/* Efecto imagen main */

main figure {
  position: relative;
}


main figure img:nth-of-type(2){
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: -1;
  filter: saturate(200%) blur(40px);
  transform: translate(0px, 0px);
  transition: opacity 200ms ease;
  object-fit: cover;
}

main div {
  display: flex;
  justify-content: space-between;
}

#body-project {
  width: 80%;
  margin: auto;
}
/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#contact-us {
  /* border: #bb2937 solid 2px; */
  width: 60%;
  margin: auto;
}

#contact-us h1 {
  margin-bottom: 64px;
}

#contact-us input,
textarea {
  /* border: #52b12d solid 2px; */
  padding: 27px 23px;
  border: none;
  background-color: hsla(231, 13%, 48%, 10%);
}

#contact-us label {
  margin-bottom: 16px;
  /* border: #072ac8 solid 2px; */
}

#contact-us textarea {
  /* border: #36c4da solid 2px; */
  width: 100%;
}

#contact-us > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}
#email-and-phone {
  display: flex;
  justify-content: space-between;
}
#email-and-phone input {
  width: 100%;
}
#email-and-phone div {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin: 16px 0;
}

#contact-us div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}

#contact-us button {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0-3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #292e47;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
   /* Menu hamburger */
   #display-btn {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: hsla(0, 0%, 78%);
    ;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }



/* Tamaño de fuentes */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.5rem;
  font-size: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.6rem;
}
p {
  font-size: 1.3rem;
}

/* main y header */
#hero-section-header {
  flex-direction: column;
  align-items: center;
}

#container-text-hero {
  width: 90%;
  align-items: center;
  text-align: center;
}

#container-img-hero {
  height: 85vw;
  width: 65vw;
  margin-bottom: 88px;
}

main {
  width: 100%;
}

header {
  width: 100%;

}

#logo-navbar {
  justify-content: space-between;
  margin: 0 24px;
  margin-top: 24px;
}

#card1 {
  width: 18vw;
  height: 31vw;

}

#card2 {
  width: 31vw;
  height: 29vw;
}

/* Sroll to top */
#scroll-top {
  display: none;
}

 /* Partners */
 #partners {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.slider {
  display: none;
}

/* Recent projects */
#recent-projects {
  width: 95%;
}

#recent-projects > h3 {
  margin-top: 100px;
}
#articles-projects {
  flex-wrap: wrap;
}

#container-subtitle {
  flex-direction: column;
  gap: 8px;
}

main img {
  height: 500px;
}

/* Services */
#services {
  width: 95%;
}

#contain-services {
  flex-wrap: nowrap;
  gap: 16px;
}

/* Contact Us */
#contact-us {
  width: 95%;
}

#contact-us input, #message {
  /* border: #072ac8 solid 2px; */
  padding: 25px 23px;
  font-size: 1.1rem;
  border: 1px none #000;
  margin-bottom: 10px;
}

#contact-us label {
  font-size: 1.1rem;
}

/* Projects */
main {
  width: 90%;
}

#title-project {
  margin-top: 32px;
  margin-bottom: 16px;
}




}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */

@media (max-width: 766px) {
  /* Menu hamburger */
  #display-btn {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: hsla(0, 0%, 78%);
    ;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  /* Tamaño de fuentes */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.5rem;
    font-size: 300;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1rem;
  }
  /* main y header */
  header {
    width: 100%;
  }

  #card1,
  #card2 {
    display: none;
  }

  #hero-section-header {
    flex-direction: column;
    align-items: center;
  }

  #container-text-hero {
    width: 90%;
    align-items: center;
    text-align: center;
  }

  #container-img-hero {
    height: 100vw;
    width: 100vw;
    margin-bottom: 88px;
  }

  main {
    width: 100%;
  }

  /* Partners */
  #partners {
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    justify-content: space-between;
  }

  .slider {
    display: none;
  }


  /* Recent projects */
  #recent-projects > h3 {
    text-align: center;
  }
  #articles-projects {
    justify-content: center;
  }
  #recent-projects {
    width: 80%;
  }

  #recent-projects article {
    width: 100%;
  }

  /* Comtainer Reviews */
  .emoji {
    display: none;
  }

  #container-reviews {
    width: 100%;
    height: 500px;
  }

  #container-reviews-text > p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  #container-reviews-text {
    padding: 5rem;
    justify-content: space-between;
  }

  /* Services */
  #services {
    width: 90%;
    margin-top: 50px;
  }

  #services div:first-child {
    text-align: center;
    margin-bottom: 16px;
  }

  #contain-services {
    justify-content: center;
  }

  #contain-services article {
    width: 100%;
  }

  /* Question forms */
  #questions-form {
    width: 100%;
  }

  #container-email-sub {
    display: flex;
    flex-direction: column;
  }

  #subscribe {
    width: 50%;
  }

  #subscribe input {
    margin-bottom: 16px;
    padding: 15px 0;
  }

  /* Footer */
  footer {
    flex-direction: column;
  }

  footer div:nth-child(1) {
    /* border: #072ac8 2px solid; */
    text-align: center;
  }

  footer nav ul {
    /* border: #072ac8 2px solid; */
    padding: 0;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  footer > div > img {
    width: 50%;
  }

  /* project.html */
  /* main */
  main {
    width: 90%;
  }

  main>h1 {
    margin: 16px 0 24px 0;
  }

  main>div {
    flex-direction: column;
  }

  main>div h4 {
    margin-bottom: 8px;
  }

  main figure img {
    height: 400px;
  }

  #body-project>p{
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  /* contact-us.html */
  #email-and-phone {
    flex-direction: column;
  }
  #email-and-phone div {
    width: 100%;
  }
  #contact-us {
    width: 92%;
  }

  #contact-us input, #message {
    /* border: #072ac8 solid 2px; */
    padding: 27px 23px;
    font-size: 1.2rem;
    border: 1px none #000;
    margin-bottom: 10px;
  }

  #contact-us label {
    font-size: 1.2rem;
  }




  





}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

#scroll-top {
  background-color: black;
  color: white;
  padding: 8px 0;
  text-align: center;
  position: sticky;
  bottom: 0;
}

#scroll-top > p > a {
  color: white;
}
